<h1 class="titulo">Contactanos</h1>

<div class="container">
  <div class="ceo-content">
    <h1 class="header">Product Owner & CEO: Santiago Torrico</h1>
    <p>
      Celular: (+591) 79768019 <br>
      Correo: santy.torrico@gmail.com <br>
      Github: <a href="https://github.com/santytorrico">https://github.com/santytorrico</a> <br>
    </p>
  </div>

  <div class="recursos-humanos">
    <h1 class="header">Recursos Humanos: Gadiel Ramos</h1>
    <p>
      Celular: (+591) 71754862 <br>
      Correo: gadiel.ramos@ucb.edu.bo <br>
      Instagram: @Gadiel_El_Guapo_Ramos <br>
    </p>
  </div>
</div>

<div class="goBack-container">
  <button class="goBack" onclick="backHome()">Return Home</button>
</div>
