<div class="container">
  <div class="row body justify-content-center">
    <div class="col-md-6 card-body text-secondary">
      <form class="register-form" [formGroup]="formReg" (ngSubmit)="recovery()">
        <h1>Forgot Password</h1>
        <div class="form-group form-floating mb-3">
          <input type="email" class="form-control" class="form-control" formControlName="email"
            placeholder="name@example.com">
          <label>Email</label>
          <div *ngIf="formReg.get('email')?.invalid && (formReg.get('email')?.dirty || formReg.get('email')?.touched)">
            <small class="form-text text-danger" *ngIf="formReg.get('email')?.errors?.['required']">El correo
              electrónico es requerido.</small>
            <small class="form-text text-danger" *ngIf="formReg.get('email')?.errors?.['email']">El correo electrónico
              no es válido.</small>
          </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Registrarse</button> -->
        <div class="d-grid gap-2 mb-3">
          <button class="btn btn-primary btn-lg" [disabled]="formReg.invalid" type="submit">Send</button>
        </div>
        <a class="mt-3" routerLink="/Login">Volver</a>
      </form>
    </div>
  </div>
</div>