<div class="menu-items-container">
    <div class="menu-item" *ngFor="let menuItem of menuItems">
      <div class="image" [ngStyle]="{ backgroundImage: 'url('+menuItem.imagePath+')' }"></div>
      <div class="info">
        <h4 class="name">{{menuItem.name}}</h4>
        <p class="price">${{menuItem.price}}</p>
        <p class="description">Description: {{menuItem.description}}</p>
        <button class="btn btn-edit" (click)="onClickEdit(menuItem)">Edit</button>
        <button class="btn btn-delete" (click)="onClickDelete(menuItem)">Delete</button>
      </div>
    </div>
    <div class="menu-edit-form" *ngIf="selectedMenuItem" >
      <h2>Edit {{selectedMenuItem.name}}</h2>
      <form (ngSubmit)="onSubmit()">
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="selectedMenuItem.name" name="name">
        <label for="image">Image:</label>
        <input type="text" [(ngModel)]="selectedMenuItem.imagePath" name="image">
        <label for="price">Price:</label>
        <input type="number" [(ngModel)]="selectedMenuItem.price" name="price">
        <label for="description">Description:</label>
        <textarea [(ngModel)]="selectedMenuItem.description" name="description"></textarea>
        <button type="submit">Update</button>
      </form>
    </div>    
  </div>
  