.menu-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .menu-item {
      width: calc(33.33% - 20px);
      margin-bottom: 20px;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;
  
      .image {
        height: 150px;
        background-size: cover;
        background-position: center;
      }
  
      .info {
        padding: 10px;
  
        .name {
          margin: 0;
          font-size: 20px;
          font-weight: bold;
        }
  
        .price {
          margin: 5px 0 10px 0;
          font-size: 18px;
          font-weight: bold;
        }
  
        .description {
          margin: 0;
          font-size: 16px;
          line-height: 1.5;
          text-transform: lowercase;
        }
  
        .btn-delete {
          margin-top: 10px;
          padding: 5px 15px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          background-color: #dc3545;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;
  
          &:hover {
            background-color: darken(#dc3545, 10%);
          }
        }
        .btn-edit{
          margin-top: 10px;
          margin-right: 10px;
          padding: 5px 15px;
          font-size: 16px;
          font-size: bold;
          color: #fff;
          background-color: #4AA4E3;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover{
            background-color: darken($color: #4AA4E3, $amount: 10%);
          }
        }
      }
    }
  }
  