<div class="menu-items-container">
    <div class="menu-item" *ngFor="let menuItem of menuItems">
      <div class="image" [ngStyle]="{ backgroundImage: 'url('+menuItem.imagePath+')' }"></div>
      <div class="info">
        <h4 class="name">{{menuItem.name}}</h4>
        <p class="price">{{menuItem.price}}</p>
        <p class="description">Description: {{menuItem.description}}</p>
        <button class="btn btn-delete" (click)="onClickDelete(menuItem)">Delete</button>
      </div>
    </div>
  </div>
  