$white: #fff;
$black: #000;
$google-btn-background: $white;
$google-btn-text: $black;

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.google-btn {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border: none;
  background-color: #4285f4; /* blue color */
  color: #fff; /* white text */
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3367d6; /* darker blue on hover */
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.image-container {
  height: 130px;
  margin-bottom: 10px;
}

.body {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.btn-primary {
  background-color: #FFFFFF;
  color: #000000;
  border-color: #90ECA5;
}

.btn-primary:hover {
  background-color: #90ECA5;
  color: #FFFFFF;
  border-color: #90ECA5;
}
