<div class="row">
  <div class="col-md-4">
    <h3>Pending Orders</h3>
    <ng-container *ngFor="let order of orderItems">
      <div class="order-item" *ngIf="order.status === 'Pending'">
        <p>Who's picking up:{{order.User}}</p>
        <p>Phone Number: {{order.telf}}</p>
        <p>Order #{{ order.id }}</p>
        <p>Status: {{ order.status }}</p>
        <ul>
          <li *ngFor="let item of order.items">{{ item.name }} - {{ item.price }}</li>
        </ul>
        <p>Total Price: {{ order.totalPrice }}</p>
        <button class="update-button" (click)="updateOrderStatus(order.id ?? '', 'In Progress')">Mark as In Progress</button>
      </div>
    </ng-container>
  </div>
  <div class="col-md-4">
    <h3>In Progress Orders</h3>
    <ng-container *ngFor="let order of orderItems">
      <div class="order-item" *ngIf="order.status === 'In Progress'">
        <p>Who's picking up:{{order.User}}</p>
        <p>Phone Number: {{order.telf}}</p>
        <p>Order #{{ order.id }}</p>
        <p>Status: {{ order.status }}</p>
        <ul>
          <li *ngFor="let item of order.items">{{ item.name }} - {{ item.price }}</li>
        </ul>
        <p>Total Price: {{ order.totalPrice }}</p>
        <button class="update-button" (click)="updateOrderStatus(order.id ?? '', 'Ready')">Mark as Ready</button>
      </div>
    </ng-container>
  </div>
  <div class="col-md-4">
    <h3>Ready Orders</h3>
    <ng-container *ngFor="let order of orderItems">
      <div class="order-item" *ngIf="order.status === 'Ready'">
        <p>Who's picking up:{{order.User}}</p>
        <p>Phone Number: {{order.telf}}</p>
        <p>Order #{{ order.id }}</p>
        <p>Status: {{ order.status }}</p>
        <ul>
          <li *ngFor="let item of order.items">{{ item.name }} - {{ item.price }}</li>
        </ul>
        <p>Total Price: {{ order.totalPrice }}</p>
      </div>
    </ng-container>
    <button class="update-button" (click)="storeReadyOrders()">Store Ready Orders</button>
  </div>
</div>
