
<header>
  <div class="row">
          <div class="col-12">
            <a routerLink="/Products" class="back-arrow">
              <i class="fa-regular fa-chevron-left"></i>Back to Products
            </a>
          </div>
  </div>
</header>
<body>
  <div *ngIf="item" class="product-container">
    <div class="image-container">
      <img class="horizontal-image" src="{{item.imagePath}}" alt="">
    </div>
    <div class="product-details">
      <h2>{{item.name}}</h2>
      <p>Price: ${{item.price}}</p>
      <p>Ingredients: {{item.description}}</p>
      <button class="addToCart" (click)="addToOrder(item); navigateToOrderSummary(login)">Add to Cart</button>
    </div>
  </div>
</body>
