body {
    background-color: #d3b10a;
  }

  .product-view-text{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #090202;
  }


  div {
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #140808;
  }

  .horizontal-image{
    transform: rotate(90deg);
  }

  