body {
    background-color: #d3b10a;
  }

  .product-view-text{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #090202;
  }


  div {
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #140808;
    background-color: #d3b10a;
  }

  .horizontal-image{
    transform: rotate(90deg);
  }
  .addToCart {
    display: block;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .centered-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
.goback{
  display: block;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: left;
    color: #0e0707;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
  
  
  

  