<h1 class ="titulo">Equipo</h1>

<div class ="goBack-container">
    <button class="goBack" (click)="backHome()">Return Home</button>
</div>

<div class ="image-container2">
    <img class ="foto_grupal" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/20230524_164242.jpg?alt=media&token=ea7c6c66-3cec-42ca-8ef9-fca1c2dd9625" alt="">
    <div class ="image-caption">
        <p>
            CEO: Santiago Torrico <br>
            CFO: Gadiel Ramos <br>
            COO: Leonardo Orsi <br>
        </p>
    </div>
</div>
