<h1 class ="titulo">Equipo</h1>


<img class = "logo" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/logo_mejorado.png?alt=media&token=ff56bcbe-41b9-4b6f-9c52-66e92b24e7ac" alt="">

<div class ="goBack-container">
    <button class="goBack" (click)="backHome()">Return Home</button>
</div>


<div class ="image-container">
    <img class ="foto_grupal" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/foto_grupal.png?alt=media&token=9e7bedbb-b2b4-410a-8412-bac1f1dfa92d" alt="">
    <div class ="image-caption">Caption Text</div>
</div>
