<h1 class ="titulo">Quienes Somos</h1>

<div class ="mision-section">
    <h1 class="header">Mision</h1>
    <div class ="mision-content">
        <p>
            Nuestra misión es ofrecerte la mejor experiencia de pizza <br>
            en línea, brindándote acceso a una amplia selección de <br>
            deliciosas pizzas para que disfrutes en la comodidad de tu <br>
            hogar. Nos enorgullece crear pizzas de calidad excepcional, <br>
            utilizando ingredientes frescos y auténticos que resalten los <br>
            sabores y aromas de cada creación. 
        </p>
    </div>
</div>

<div class ="vision-section">
    <h1 class ="header-vision">Vision</h1>
    <div class ="vision-content">
        <p>
            Nuestra visión es convertirnos en el destino favorito para los <br>
            amantes de la pizza que buscan calidad, sabor y una experiencia <br>
            única. Nos apasiona perfeccionar cada detalle de nuestras pizzas, <br>
            desde la selección cuidadosa de los ingredientes frescos hasta la <br>
            preparación y el horneado perfecto.
        </p>
    </div>
</div>

<div class ="goBack-container">
    <button class="goBack" (click)="backHome()">Return Home</button>
  </div>