.menu-container {
    background-color: #F2E9E4;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .menu-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menu-col {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

  }
  
  .menu-item {
    padding: 20px;
    text-align: center;
  
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    h3 {
      color: #2F4858;
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 18px;
    }
  
    p {
        text-transform: lowercase;
        color: #555555;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
  
    .price {
      color: #ffffff;
      margin-top: 5px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .menu-item button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-item button:hover {
    background-color: #CC0000;
  }
  
  