<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Our Menu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of menuItems">
      <div class="card">
        <img class="card-img-top" [src]="item.imagePath" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-price">$ {{ item.price }}</p>
          <button class="btn btn-primary" (click)="addToOrder(item)">Add to Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
