<div class="menu-container">
  <div class="menu-row">
    <div class="menu-col" *ngFor="let menuItem of menuItems">
      <div class="menu-item">
        <img [src]="menuItem.imagePath" alt="Menu item image">
        <div class="menu-item-details">
          <h3 class="menu-item-name">{{ menuItem.name }}</h3>
          <p class="menu-item-price">${{ menuItem.price }}</p>
          <button class="menu-item-btn" (click)="addToOrder(menuItem); navigateToOrderSummary()">
            <i class="fa-sharp fa-regular fa-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
