<body>
  <h1 class="header">Pizza Place</h1>

  
<div class ="footer">

    <div class="info-section">
      <button class ="WhoWeAre" (click)="goWhoWeAre()" >Quienes Somos</button>
    </div>

    <div class="info-section">
      <button class ="Contactanos" (click)="goContacto()" >Contactanos</button>
    </div>

    <div class="info-section">
      <button class ="Equipo" (click)="goEquipo()" >Nuestro Equipo</button>
    </div>

</div>

  <div class ="goBack-container">
    <button class="goBack" (click)="goBack()">Order Now</button>
  </div>
  
  <carousel>
    <slide>
      <img class ="picture" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/PICKLEWALLPAPER_DESKTOP.webp?alt=media&token=26f7e0c8-d2b2-448f-9da5-db0ad6b383eb" alt="">
    <div class ="carousel-caption">
    </div>
    </slide>
    <slide>
      <img class ="picture" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/pizza%20de%20la%20semana%205.png?alt=media&token=b371152d-5515-41b1-95b1-9670bf58bd2d" alt="">
      <div class="carousel-caption">
      </div>
    </slide>
    <slide>
      <img class ="picture" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/pizza%20de%20la%20semana%206.png?alt=media&token=236d4a7d-bade-4be0-8e7f-8ea343a29050" alt ="">
      <div class ="carousel-caption">
      </div> 
    </slide>
  </carousel>
  
  <img class = "logo" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/logo_mejorado.png?alt=media&token=ff56bcbe-41b9-4b6f-9c52-66e92b24e7ac" alt="">


</body>  
