<body>
  <h1 class="header">Pizza Place</h1>

  
<div class ="footer">

    <div class="info-section">
      <button class ="WhoWeAre" (click)="goWhoWeAre()" >Quienes Somos</button>
    </div>

    <div class="info-section">
      <button class ="Contactanos" (click)="goContacto()" >Contactanos</button>
    </div>

    <div class="info-section">
      <button class ="Equipo" (click)="goEquipo()" >Nuestro Equipo</button>
    </div>

</div>

  <div class ="goBack-container">
    <button class="goBack" (click)="goBack()">Order Now</button>
  </div>
  
  <carousel>
    <slide>
      <img class ="picture" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/pizza%20de%20la%20semana.webp?alt=media&token=51462a7a-acf5-49fa-bf60-c25ccf0f11ac" alt="">
    <div class ="carousel-caption">
    </div>
    </slide>
    <slide>
      <img class ="picture" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/pizza%20de%20la%20semana%204.jpg?alt=media&token=564998d3-53c8-4f7f-af10-818eddfbf457" alt="">
      <div class="carousel-caption">
      </div>
    </slide>
    <slide>
      <img class ="picture" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/pizza%20de%20la%20semana%203.jpg?alt=media&token=af9713be-b92d-4ad1-a346-42a4e4f598ed" alt ="">
      <div class ="carousel-caption">
      </div> 
    </slide>
  </carousel>
  
  <img class = "logo" src="https://firebasestorage.googleapis.com/v0/b/pizzaplacebolivia.appspot.com/o/logo_mejorado.png?alt=media&token=ff56bcbe-41b9-4b6f-9c52-66e92b24e7ac" alt="">


</body>  
