body{
    background-color: #d3b10a;
}
.header {
  text-align: center; /* Center the text horizontally */
  color: 030101; /* Set the text color to red */
  font-size: 36px; /* Adjust the font size as desired */
  font-weight: bold; /* Apply bold font weight */
  text-transform: uppercase; /* Convert the text to uppercase */
  letter-spacing: 2px; /* Add letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
  /* Add any additional styles to make it attractive */
}

.WhoWeAre{
  display: inline-block;
  padding: 10px;
  background-color: #030101;
  color: rgb(233, 218, 218);
  border-radius: 100%;
  cursor: pointer;
}
.Contactanos{
  display: inline-block;
  padding: 10px;
  background-color: #030101;
  color: rgb(233, 218, 218);
  border-radius: 100%;
  cursor: pointer;
}
.Equipo{
  display: inline-block;
  padding: 10px;
  background-color: #030101;
  color: rgb(233, 218, 218);
  border-radius: 100%;
  cursor: pointer;
}
.contact{
  display: inline-block;
  padding: 10px;
  background-color: #030101;
  color: rgb(233, 218, 218);
  border-radius: 100%;
  cursor: pointer;
}
.team{
  display: inline-block;
  padding: 10px;
  background-color: #030101;
  color: rgb(233, 218, 218);
  border-radius: 100%;
  cursor: pointer;
}
.goBack-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.logo {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 150px;
  height: auto;
}
.picture{
  display: block;
  margin: 0 auto;
}
img {
  width: 500px; /* Set the desired width */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.info-section{
  margin-bottom: 20px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }