/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
html, body{
    height: 100%;
    background-color: #d3b10a;
}

.form-floating{
    text-align: start;
}

.errorLabel{
    margin-left: 5px;
}