<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="/Products" class="back-arrow">
        <i class="fa-regular fa-chevron-left"></i>Back to Products
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>Your Cart</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderItems; let i = index">
            <td>{{ item.name }}</td>
            <td>$ {{ item.price }}</td>
            <td><button class="delete-button" (click)="removeFromOrder(i)">Remove</button></td>
          </tr>
        </tbody>
      </table>
      <p>Total Price: $ {{ totalPrice }}</p>
      <p>Number of Items: {{ itemCount }}</p>
      <button class="back-button" (click)="navigateToProducts()">Add more Items</button>
    </div>
  </div>
</div>
