<!DOCTYPE html>
<html>
  <head>
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="order-summary.component.scss">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a routerLink="/Products" class="back-arrow">
              <i class="fa-regular fa-chevron-left"></i>Back to Products
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1>Your Cart</h1>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderItems; let i = index">
                  <td>{{ item.name }}</td>
                  <td>$ {{ item.price }}</td>
                  <td><button class="delete-button" (click)="removeFromOrder(i)">Remove</button></td>
                </tr>
              </tbody>
            </table>
            <p>Total Price: $ {{ totalPrice }}</p>
            <p>Number of Items: {{ itemCount }}</p>
            <button class="confirm-button" (click)="confirmPop()">Confirm Order</button>

            <button class="back-button" (click)="navigateToProducts()">Add more Items</button>
            <div class="menu-edit-form" *ngIf="confirm">
              <h2>Who's picking up the order?</h2>
              <form  #form="ngForm" (ngSubmit)="confirmOrder(form)">
                <label for="Usuario">Name/Nick:</label>
                <input type="text" [(ngModel)]="Usuario" name="Usuario">
                <label for="telf">Phone:</label>
                <input type="number" [(ngModel)]="telf" name="telf" pattern="[0-9]*" inputmode="numeric">
                <button type="submit">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
