<div class="container">
  <div class="row body justify-content-center">
    <div class="col-md-6 card-body text-secondary">
      <form class="register-form" [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <h1>Register</h1>
        <div class="form-group form-floating mb-3">
          <input type="email" class="form-control" class="form-control" formControlName="email"
            placeholder="name@example.com" [(ngModel)]="datos.email">
          <label>Email</label>
          <div *ngIf="formReg.get('email')?.invalid && (formReg.get('email')?.dirty || formReg.get('email')?.touched)">
            <small class="form-text text-danger" *ngIf="formReg.get('email')?.errors?.['required']">Email is required</small>
            <small class="form-text text-danger" *ngIf="formReg.get('email')?.errors?.['email']">Invalid Email</small>
          </div>
        </div>
        <div class="form-group form-floating mb-3">
          <input type="password" class="form-control" formControlName="password" placeholder="Password" [(ngModel)]="datos.password">
          <label>Password</label>
          <div
            *ngIf="formReg.get('password')?.invalid && (formReg.get('password')?.dirty || formReg.get('password')?.touched)">
            <small class="form-text text-danger" *ngIf="formReg.get('password')?.errors?.['required']">Password
              required.</small>
            <small class="form-text text-danger" *ngIf="formReg.get('password')?.errors?.['password']">Invalid
              Password</small>
          </div>
          <span *ngIf="formReg.get('password')?.hasError('minlength') && formReg.get('password')?.touched"
            class="text-danger errorLabel">
            The <strong>password</strong> must have 8 characteres
          </span>
          <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control" formControlName="confirmPassword"
              placeholder="Confirm Password">
            <label>Repeat Your Password</label>
            <div
              *ngIf="formReg.get('confirmPassword')?.invalid && (formReg.get('confirmPassword')?.dirty || formReg.get('confirmPassword')?.touched)">
              <small class="form-text text-danger" *ngIf="formReg.get('confirmPassword')?.errors?.['match']">
                Passwords Doesn't Match.</small>
            </div>
          </div>
          <div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary btn-lg" [disabled]="formReg.invalid" type="submit">Sign Up</button>
          </div>
        </div>
        <a class="mt-3" routerLink="/Login">Go Back</a>
      </form>
    </div>
  </div>
</div>